@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  /* background-color: #d59d6a; */
}

body {
  min-height: 100vh;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
}

.app-content {
  display: flex;
  min-height: 100vh;
  /* background: #4b2e0e; */
}

.sidebar {
  min-height: 100vh;
  background: #4b2e0e;
}

.main-content {
  flex: 1;
  background: #f7f7f7;
  margin: 32px;
  border-radius: 18px;
  padding: 32px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}