services:
  mongo:
    image: mongo:6
    container_name: fh-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: huepth/fhcoffee-backend:latest
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fh-backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    image: huepth/fhcoffee-frontend:latest
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:4000
    container_name: fh-frontend
    ports:
      - "3002:80"
    depends_on:
      - backend

  admin:
    image: huepth/fhcoffee-admin:latest
    build:
      context: ./admin
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:4000
    container_name: fh-admin
    ports:
      - "3001:80"
    depends_on:
      - backend

volumes:
  mongo_data:
