.cart {
  margin-top: 90px;
  padding: 40px;
  /* background-color: #d3986a;
  màu nền cà phê */
  min-height: 100vh;
}

/* Khối tổng chứa tiêu đề + danh sách sản phẩm */
.cart-items-container {
  background-color: #fffaf2;
  border: 2px solid #8b5e3c;
  border-radius: 12px;
  padding: 16px 24px;
  margin-bottom: 32px;
  
}

/* Dòng tiêu đề */
.cart-items-title,
.cart-items-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.cart-items-title {
  font-weight: bold;
}

.cart-items-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.crossicon {
  color: brown;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

/* Đường kẻ ngang */
.cart-items-container hr {
  margin: 8px 0;
  border: none;
  border-top: 1px solid #c0a78b;
}

/* Phần dưới: tổng + mã giảm giá */
.cart-bottom {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* Khối tổng tiền */
.cart-total {
  background-color: #fffaf2;
  padding: 24px;
  border-radius: 12px;
  flex: 1;
  min-width: 300px;
  border: 2px solid #8b5e3c;
}

.cart-total h2 {
  margin-bottom: 20px;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px;
}

.cart-total hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.cart-total button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #8b5e3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Khối nhập mã giảm giá */
.cart-promocode {
  background-color: #fffaf2;
  padding: 24px;
  border-radius: 12px;
  flex: 1;
  min-width: 20px;
  border: 2px solid #8b5e3c;
}

.cart-promocode-input {
  display: flex;
  margin-top: 12px;
}

.cart-promocode-input input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  outline: none;
}

.cart-promocode-input button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #8b5e3c;
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cart {
    margin-top: 250px;
    padding: 20px;
  }

  .cart-items-title,
  .cart-items-item {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .cart-bottom {
    flex-direction: column;
    gap: 20px;
  }

  .cart-total,
  .cart-promocode {
    min-width: 100%;
  }

  .cart-total button,
  .cart-promocode-input button {
    width: 100%;
  }

}