.footer {
    background-color: #4b2e0e;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 50px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin-top: auto;
}

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    width: 100%;
    max-width: 1000px;
}

.footer-content-left,
.footer-content-right,
.footer-content-center {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
}

.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-left h2,
.footer-content-right h2,
.footer-content-center h2 {
    color: aliceblue;
}

.footer-content-left img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
}

.footer-social-icons {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    font-size: 25px;
    transition: all 0.3s ease;
}

.footer-social-icons a {
    color: aliceblue;
    text-decoration: none;
}

.footer-social-icons a:hover {
    color: #d59d6a;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: #d59d6a;
    border: none;
    margin-top: 15px;
    margin-bottom: 8px;
}

.footer .footer-bottom {
    justify-content: space-between;
    align-items: center;
}

.footer .footer-bottom p {
    font-size: 14px;
    color: #d59d6a;
    margin: 0;
}

.footer-content-center a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-content-center a:hover {
    color: #d59d6a;
}

@media screen and (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .footer-content-left,
    .footer-content-right,
    .footer-content-center {
        align-items: center;
        text-align: center;
    }

    .footer-content-left img {
        margin: 0 auto;
    }

    .footer-social-icons {
        justify-content: center;
    }
}