.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background-color: #4b2e0e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2)
}

.navbar .logo {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.navbar .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}