.app-download {
    margin: auto auto;
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    color: #4b2e0e;
    margin-bottom: 40px;
}

.app-download-platforms {
   display: flex;
   justify-content: center;
   gap: max(3vw, 20px);
    margin-top: 40px;
}

.app-download-platforms img {
    width: max(20vw, 100px);
    object-fit: cover;
    transition: all 0.3s ease;
    cursor: pointer;
}

.app-download-platforms img:hover {
    transform: scale(1.05);
    /* filter: brightness(0.8); */
}