.list {
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  max-width: 1000px;
  margin-top: 40px ;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.list > p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #4b2e0e;;
}

.list-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.table-format-title,
.list-table-format {
  display: grid;
  grid-template-columns: 80px 1.5fr 1.2fr 1fr 0.5fr;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #f5f5f5;
  color: #4b2e0e;
}

.table-format-title {
  background-color: #dfe6e9;
  font-weight: bold;
}

.list-table-format {
  background-color: #ffffff;
  border: 1px solid #ddd;
  transition: background-color 0.2s;
}

.list-table-format:hover {
  background-color: #f1f2f6;
}

.list-table-format img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.list-table-format p {
  margin: 0;
  font-size: 14px;
}

.list-table-format p:last-child {
  color: red;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1240px) {
  .list {
    margin-left: 10px;
    margin: 10px;
  }
  
}


